@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --border: 214 20% 90%;
    --input: 214 20% 90%;
    --primary: 222 47% 11%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 25% 95%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 25% 95%;
    --muted-foreground: 215 16% 47%;
    --accent: 210 25% 93%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --ring: 222 47% 11%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 14% 8%;
    --foreground: 213 31% 91%;
    --card: 222 14% 11%;
    --card-foreground: 213 31% 91%;
    --border: 216 12% 18%;
    --input: 216 12% 18%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 222 12% 15%;
    --secondary-foreground: 213 31% 91%;
    --muted: 222 12% 15%;
    --muted-foreground: 215 16% 55%;
    --accent: 216 12% 18%;
    --accent-foreground: 213 31% 91%;
    --destructive: 0 63% 45%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 12% 27%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}
